.textField {
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}

.inputBox {
  border-radius: 15px;
  border: none;
  outline: none;
  /* By default, tries to make width as 50% of window width 
   but will limit the width to 500px
   */
  width: 50vw;
  max-width: 500px;
  height: 40px;
  background-color: #ffffff;
  color: #575656;
  padding-left: 10px;
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
}
