.PageHeader {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin: 0em;
  background-color: #904e55;
  color: #f2efe9;
}
