.textArea {
  background: transparent;
  border: none;
  outline: none;
  color: #575656;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  resize: none;
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.textAreaWrapper {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 10px 10px 10px 3px;
}
