.textArea {
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #575656;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 40%;
    resize: none;
    overflow-y: scroll;
}
  