.listViewItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.editButton {
  border: none;
  width: 30px;
  height: 30px;
  border: none;
  background-color: grey;
  border-radius: 5px;
}

.buttonLayout {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 30%;
  justify-content: center;
}

.taskName {
  width: 70%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 0.9rem;
  font-weight: light;
  font-family: "Inter", sans-serif;
}
