.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  max-width: 500px;
  height: 80vh;
  background: #904e55;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  position: fixed;
  border-radius: 30px;
  padding: 0px 20px;
}

.credLayout {
  display: flex;
  flex-direction: column;
}

.buttonLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  gap: 15px;
}
