.interactiveText {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0em;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border: none;
  background-color: transparent;
}
