.prereqListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.taskName {
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 0.9rem;
  font-weight: light;
  font-family: "Inter", sans-serif;
}
